<%= link_to gravatar_for(current_user, size: Settings.User.gravatar_for), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("microposts.my_profile"), current_user %></span>
<span><%= pluralize(current_user.microposts.count, t("microposts.micropost")) %></span>
